/*для обнуления страницы */
* {
 margin: 0;
 padding: 0;
 font-family: Hind,sans-serif;
}
/* размер первого блока */
.header2{
    width: 100%;

}
header{
  z-index: 100;
   position: fixed;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    background-color: #fff;
}
header div {
    flex:1;
}
.logo {
    display: flex;
    justify-content: center;
}

.nav li {
    display: inline;
} 

.nav li a {
  text-decoration: none;
  color: #515769;
  margin-right: 20px;
  font-weight: 600;
  font-size: 12px;
} 

.first-block{
    
    height: 435px;
    width: 100%;
    background-color: rgb(71, 66, 66);
    display: flex;
    justify-content: center;
}

.home {
    padding-top: 80px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
     width: 100%;
    background: linear-gradient(
        rgba(81,87,105,0.4),
        rgba(81,87,105,0.4)), 
        url(./img/1920x1080/01.jpg) center center no-repeat; 
    background-size: cover; 
    
}

.block1-text1 {
    margin: 30px 60px 20px 60px;;
    font-size: 35px;
    color: white;
    
}

.block1-text2 {
   
    margin-bottom: 30px;
    font-size: 25px;
    color: white;
   
}

.block1-button1 {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 250px;   
    background-color: white;
}

.block1-button1:hover {
    background-color: #17bed2;
}

.block1-button1:hover > .text-btn-img {
  color: #fff;
}

.btn-img {
    width: 25px;
    height: 25px;
}
.text-btn-img {
    margin-left: 15px;
    font-size: 15px;
    width: 165px;
    height: 15px;
    font-weight: 900;
    align-items: center;
    color: #515769;
    text-transform: uppercase;
}
/* размер блока 2 */
.block2 {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* текст в бло */
.text-block2 {
    
    text-align: center;
} 
.text-block2 h1 {
    padding-bottom: 30px;
    color: #515769;
    padding-top: 50px;


}
 .text-block2-1 {
  color: #515769;
  font-size: 15px;
  max-width: 400px;
  
}


.text-block2-1 h2{
    font-size: 22.4px;
   font-weight: 300;
   line-height: 1.5em;
   color: #a6a7aa;
} 
/* основной контейнер 3го блока */
.block3 {
    
    width: 90%;
    height: 510px;
    margin: 30px 5%;
    display: flex;
    justify-content: space-between;
    
} 
/* размер ширина высота 1го блока в 3ем контейнере */
.block3-content {
    height: 400px;
    height: 500px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* размер текста 3го блока */
.block3-content h1{
    width: 150px;
    height: 150px;


}
/*первая картинка третьего блокa*/
.block3-content img{
    width: 100%;
    height: 240px;

}
/* текст под картинками блоков */
.block3text1 {
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
   
  }
  /*  */
  .WS1 {
    font-size: 20px;
    color: #515769;
    font-weight: 800;

  }
  .MG1 {
    font-size: 17px;
    text-transform: uppercase;
    color: #bfc1c7;
    font-weight: 400;
    margin-left: 40px;
    
  }
  .block3-text {
    font-size: 15px;
    font-weight: 400;
    color: #a6a7aa;
    margin: 1em 0;
    line-height: 1.5em;
  }
  .block4-mod1 {
  
    text-decoration: none;
    /* text-transform: uppercase; */
    font-size: 15px;
    font-weight: 600;
    color: #81848f;
    margin-bottom: 15px;
  }
  .img3 {
      width: 100%;
      height: 449px;
      display: flex;
      justify-content: space-between;
  }
  .img3 img{
    width: 50%;
  }
 /* форма 4го блока*/ 
  .block4-fon {
    background-color: #fafafa;
    width: 100%;
    height: 100%
    
  }
  /*размеры и деление 4го блока*/
  .blocks4 {
    
    margin: auto;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    padding: 5em;
    flex-wrap: wrap;
    font-size: 14px;
  }
  .block4-mod1 {
    padding: 1.5em;
    margin: 0.1em;
    width: 25%;
    background-color: #fff;
    line-height: 4em;
    color: #515769;
  }
  .blocks4 a {
    text-decoration: none;
    outline: none;
  }
  .block4-mod1 h3 {
    font-size: 1.5em;
    font-weight: 550;
}
  .block4-mod1 p {
    line-height: normal;
    font-size: 15px;
    font-weight: 400;
    color: #a6a7aa;
}
 .block4-mod1 img {
    
    /* margin-top: 1.2em; */
    width: 2em;
    height: 2em;
 }
 .block5-oll {
  height: 420px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(56, 53, 53);
  background: linear-gradient(
      rgba(81,87,105,0.4),
      rgba(81,87,105,0.4)), 
      url(./img/1920x1080/02.jpg) center center no-repeat fixed; 
  background-size: cover; 
  margin-bottom: 50px;
 }
 .home2 {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
   width: 50%;
  
   }

 .block5-text1 >h1 {
   display: block;
   font-size: 3.5em;
   color: white;
   text-align:center;
   font-weight: 500;
   margin-bottom: 20px;
 }

 .block5-text2 >p {
   display: block;
  font-size: 1.3em;
  color: white;
  text-align: center;
  font-weight: 500;
  line-height: 30px;
  opacity: .8;
 }
 /* 4bock */
 .block6-all {
  width: 853px;
  height: 917px;
  padding: 0 17.5%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.block6-all >a:hover{
  filter: contrast(0.7) brightness(0.7);
}

 .block6-img1 {
   width: 570px;
   height: 300px;
  background: 
      url(./img/800x400/01.jpg) center center no-repeat ; 
  background-size: contain; 
 }

 .block6-img2 {
  width: 283px;;
  height: 300px;
 background: 
     url(./img/397x400/01.jpg) center center no-repeat ; 
 background-size: contain; 

 }

 .block6-img3 {
  margin-left: 30px;
  width: 396px;
  height: 300px;
 background: 
     url(./img/397x300/01.jpg) center center no-repeat ; 
 background-size: contain; 
 }

 .block6-img4 {
  margin-right: 30px;
  width: 396px;
  height: 300px;
 background: 
     url(./img/397x300/02.jpg) center center no-repeat ; 
 background-size: contain; 
 }

 .block6-img5 {
   margin-top: 10px;
   width: 850px;
   height: 300px;
   background: 
     url(./img/397x300/03.jpg) center center no-repeat ; 
   background-size: contain; 
 }